h1{
    color: #F2E5A0;
}

article{
    display: grid;
    justify-items: center;
    margin-top: 50%;
}

@media screen and (min-width: 760px){
    article{
        margin-top: 20%;
    }
}